CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/
Win32/
Debug/
sgct/
data/

FlareApp

*~
*.sw*
*.slo
*.lo
*.o

*.so
*.dylib

*.lai
*.la
*.a

*.log
Release/
Debug/
bin/


*.vcxproj
*.filters
*.sdf
*.sln
*.exe
*.pdb
*.ilk
*.dll
*.suo

